@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Source Sans Pro",Arial,sans-serif;
}

html{
    scroll-behavior: smooth;
}

:root {
    /*========== Colors ==========*/
    --hue: 240;
    --first-color: hsl(var(--hue), 16%, 18%);
    --first-color-alt: hsl(var(--hue), 16%, 12%);
    --title-color: hsl(var(--hue), 8%, 15%);
    --text-color: hsl(var(--hue), 8%, 35%);
    --body-color: hsl(var(--hue), 100%, 99%);
    --container-color: #FFF;
  
    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 1.5rem;
    --normal-font-size: .938rem;
  
    /*========== z index ==========*/
    --z-modal: 1000;
}

.whitetext{
    color: #fff;
}

.padding-left-64{
    padding-left: 64px;
}

.padding-right-64{
    padding-right: 64px;
}

.padding-top-bot-64{
    padding: 64px 0px;
}

.colfourth{
    width: 25%;
    padding: 0 16px;
}

.colthird{
    width: calc(100% / 3);
    padding: 16px 16px;
}

.colsecond{
    width: 50%;
    padding: 0 24px;
}

.cds-70 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.cds-7 {
    margin: 0;
}

.cds-78 {
    align-items: center;
}

/*========= header =========*/
#header {
    display: block;
    height: 64px;
    border-bottom: 1px solid #ccc;
    position: fixed;
    background-color: #fff;
    width: 100%;
    z-index: 1000;
}

#header > h1,
#header > a,
#header .button-header,
#header .input-header{
    display: inline-block;
    padding: 0px 16px;
}

#header .input-header{
    float: left;
}

#header .header-ul li{
    display: inline-block;
}

#header > h1{
    color: #0056d2;
    float: left;
    line-height: 64px;
}

#header > h1:hover{
    cursor: pointer;
}

#header .button-header{
    height: 36px;
    display: inline;
    float: left;
    margin-top: 14px;
    background-color: #0056d2;
    border: none;
    color: #fff;
}

#header .header-ul{
    float: left;
}

#header .modal__button{
    float: left;
    /* margin-right: 40px; */
}

#header .header-ul-button{
    float: right;
    padding-right: 40px;
}

#header .button-header:hover{
    /* opacity: 0.8; */
    cursor: pointer;
}

#header .header-icon{
    font-size: 12px;
    font-weight: 600;
}

#header .ti-angle-down{
    margin-left: 4px;
}

#header .input-header{
    height: 36px;
    margin-top: 14px;
    margin-left: 8px;
}

#header .header-ul a,
#header > a{
    line-height: 64px;
    padding: 0 8px;
    font-size: 14px;
    text-decoration: none;
    color: black;
}

#header .header-ul li{
    padding: 0;
}

#header > a{
    float: left;
    margin-left: 48px;
    color: #0056d2;
}

#header .header-ul li:hover a,
#header > a:hover{
    color: #0056d2;
}

#header .appear-button-div{
    height: 64px;
    position: relative;
    display: block;
    float: left;
}

#header .header-appear-button{
    width: 92px;
    border-radius: 4px;
    border: 2px solid #000;
}

#header .appear-panel:hover,
#header .appear-button-div:hover .appear-panel{
    cursor: default;
    display: block;
}

#header .panel-background:hover{
    display: none;
}

#header .appear-button-div:hover .header-appear-button{
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
}

#header .appear-panel{
    position: absolute;
    color: black;
    display: block;
    width: 400px;
    max-height: 600px;
    margin-left: -16px;
    margin-top: 24px;
    border: 1px solid #ccc;
    overflow: scroll;
    background-color: #fff;
    box-sizing: unset;
    display: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#header .appear-panel ul{
    list-style: none;
}

#header .appear-panel > h2{
    padding: 24px 16px;
    float: left;
}

#header .appear-panel ul li {
    display: inline-block;
    width: 100%;
}

#header .appear-panel ul li:hover{
    background-color: #ccc;
}

#header .appear-panel ul li a{
    color: black;
    text-decoration: none;
    float: left;
    width: 100%;
    text-align: left;
    padding: 4px 0 4px 16px;
}

#header .appear-panel .ti-angle-right{
    float: right;
    padding-right: 16px;
}

/*========= Join =========*/
#join{
    padding-top: 64px;
    height: 640px;
    max-height: 1000px;
    background-color: #fff;
}

#join .join_content{
    width: 500px;
    height: 428px;
    margin-left: 92px;
    padding-left: 64px;
    margin-top: 100px;
    display: inline-block;
}

#join .join-title{
    font-size: 64px;
    font-family:"Source Sans Pro",Arial,sans-serif;
}

#join .join_about{
    font-size: 20px;
    padding: 24px 0px;
    line-height: 1.4;
}

#join .join-button{
    padding: 24px 36px;
    background-color: #0056d2;
    color: #fff;
    border: none;
    border-radius: 4px;
}

#join .join-button:hover{
    cursor: pointer;
    opacity: 0.8;
}

#join .join-img{
    margin-left: 200px;
    height: 360px;
    width: 360px;
    margin-bottom: -12px;
}

/*=============== MODAL ===============*/
.container{
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
  .modal{
    height: 100vh;
    display: grid;
    place-items: center;
  }
  
  /* .modal__button{
    display: inline-block;
    background-color: var(--first-color);
    color: #FFF;
    padding: 1rem 1.25rem;
    border-radius: .5rem;
    transition: .3s;
  } */
  
  .modal__button:hover{
    background-color: var(--first-color-alt);
  }
  
  .modal__container{
    position: fixed;
    top: 0;
    left: 0;
    background-color: hsla(var(--hue), 18%, 75%, .8);
    width: 100%;
    height: 100%;
    display: table;
    align-items: flex-end;
    overflow: hidden;
    transition: all .3s;
    z-index: var(--z-modal);
    visibility: hidden;
    opacity: 0;
    /*=== Effect 3 ===*/
    /* perspective: 1000px; */
  }
  
  .modal__content{
    position: relative;
    background-color: var(--container-color);
    text-align: center;
    height: 100%;
    padding: 3rem 3rem 4rem;
    border-radius: 1rem 1rem 0 0;
    transition: all .3s;
  
    /*=== Effect 1 ===*/
    /* transform: translateY(10%); */
  
    /*=== Effect 2 ===*/
    /* transform: scale(.5) translateY(10%); */
  
    /*=== Effect 3 ===*/
    transform: rotateX(65deg) scale(.75) translateY(10%);
    transform-origin: 50% 100%;
  }
 
  #modal-container .model-content-cover{
        margin-top: 24px;
  }
  
  .modal__close{
    border-radius: .25rem;
    color: #FFF;
    font-size: 2rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: var(--first-color);
    display: flex;
    column-gap: .25rem;
    cursor: pointer;
  }
  
  .modal__title{
    font-size: var(--big-font-size);
    color: var(--title-color);
    font-weight: 500;
  }
  
  .modal__description{
    margin-bottom: 1.5rem;
  }
  
  .modal__button-width{
    width: 90%;
  }
  
  .modal__button-link{
    display: block;
    margin: 1rem auto 0;
    background-color: transparent;
    color: var(--first-color);
    font-weight: 500;
  }
  
  /* Show modal */
  .show-modal{
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal .modal__content{
    /*=== Effect 1 ===*/
    /* transform: translateY(0); */
  
    /*=== Effect 2 ===*/
    /* transform: scale(1) translateY(0); */
  
    /*=== Effect 3 ===*/
    transform: rotateX(0) scale(1) translateY(0);
  }

  /*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (min-width: 968px) {
    :root {
      --big-font-size: 1.75rem;
      --normal-font-size: 1rem;
    }
  }

@media screen and (min-width: 576px){
    .modal__content{
      margin: auto;
      width: 492px;
      border-radius: 1.25rem;
    }
}

  /*=============== univer ===============*/
#univer {
    /* padding: 64px 0px; */
    height: 600px;
}

.swiper{
    height: 300px;
    position: relative;
}

#univer .swiper-cover{
    width: 270px !important;
    height: 250px !important;
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: 0 4px;
}

.swiper-cover:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.article {
    text-decoration: none;
    width: 270px;
    height: 250px;
}

.article .article-img{
    max-width: 270px;
    max-height: 90px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.article .article-content{
    width: 238px;
    height: 44px;
    padding-top: 12px;
    padding-left: 24px;
    color: #373A3C;
    font-size: 12px;
    line-height: 1.4;
}

.article .article-title{
    font-size: 16px;
    color: #0062E4;
    opacity: 1;
}

#univer .footer-shape{
    height: 50px;
    width: 180%;
    left: -40%;
    bottom: -16px;
    position: absolute;
}

#univer .left-shape{
    opacity: 0.5;
    transform: rotateZ(4deg);
    outline: 1px solid transparent;
}

#univer .right-shape{
    transform: rotateZ(-4deg);
    outline: 1px solid transparent;
}

#univer .onehundredpercent{
    position: absolute;
    color: white;
    bottom: 0;
    padding-left: 16px;
    padding-bottom: 4px;
    font-weight: 600;
    font-size: 12px;
    font-family: 'OpenSans', Arial, sans-serif;
    text-transform: uppercase;
}

#univer .footer-logo{
    width: 32px;
    height: 36px;
    position: absolute;
    right: 0;
    bottom: 0;
    padding-right: 4px;
    padding-bottom: 4px;
}

/* .swiper-controls{
    position: absolute;
    font-size: 32px;
    font-weight: 800;
}

.swiper-controls:hover{
    color: #0056d2;
} */

.ti-angle-left{
    left: 0;
    margin-top: -148px;
}

.ti-angle-right{
    right: 0;
    /* margin-top: -148px; */
    padding-right: 16px;
}
  
::selection{
    background: #0056d2;
    color: #fff;
}

#modal-container .wrapper{
    overflow: hidden;
    max-width: 390px;
    background: #fff;
    padding: 30px;
    border-radius: 5px;
}

#modal-container .wrapper .title-text{
    display: flex;
    width: 200%;
}

#modal-container .wrapper .title{
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}

#modal-container .wrapper .slide-controls{
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    overflow: hidden;
    margin: 30px 0 10px 0;
    justify-content: space-between;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

#modal-container .slide-controls .slide{
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.6s ease;
}

#modal-container .slide-controls label.signup{
    color: #000;
}

#modal-container .slide-controls .slider-tab{
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 5px;
    background: -webkit-linear-gradient(left, #6860da, #0056d2);
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}

input[type="radio"]{
    display: none;
}

#signup:checked ~ .slider-tab{
    left: 50%;
}

#signup:checked ~ label.signup{
    color: #fff;
    cursor: default;
    user-select: none;
}

#signup:checked ~ label.login{
    color: #000;
}

#login:checked ~ label.signup{
    color: #000;
}

#login:checked ~ label.login{
    cursor: default;
    user-select: none;
}

#modal-container .wrapper .form-container{
    width: 100%;
    overflow: hidden;
}

.form-container .form-inner{
    display: flex;
    width: 200%;
}

.form-container .form-inner form{
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.form-inner form .field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

.form-inner form .field input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    font-size: 17px;
    transition: all 0.3s ease;
}

.form-inner form .field input:focus{
    border-color: #0056d2;
/* box-shadow: inset 0 0 3px #fb6aae; */
}

.form-inner form .field input::placeholder{
    color: #999;
    transition: all 0.3s ease;
}

form .field input:focus::placeholder{
    color: #b3b3b3;
}

.form-inner form .pass-link{
    margin-top: 5px;
}

.form-inner form .signup-link{
    text-align: center;
    margin-top: 30px;
}

.form-inner form .pass-link a,
.form-inner form .signup-link a{
    color: #0056d2;
    text-decoration: none;
}

.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover{
    text-decoration: underline;
}

form .btn{
    height: 50px;
    width: 100%;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

form .btn .btn-layer{
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: -webkit-linear-gradient(right, #6860da, #0056d2, #6860da, #0056d2);
    border-radius: 5px;
    transition: all 0.4s ease;;
}

form .btn:hover .btn-layer{
    left: 0;
}

form .btn input[type="submit"]{
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    background: none;
    border: none;
    color: #fff;
    padding-left: 0;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.collab_head{
	text-align:center;width:100%;
	background-color:#f5f5f5;
	padding-top:64px;
	padding-bottom:64px;
	margin:0 auto;
	max-width:'100%';
	min-height:299px;
}

.cds-1 {
    margin: 0;
}

.cds-3 {
    font-size: 1rem;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0;
}

.cds-30 {
    color: #3f51b5;
}

.focus-point{
    color:#0056d2;
}
.css-1ofar2p{
    display:inline-block;
    font-size:28px;
    text-decoration: none;
}

.we_coll{
    color: #000;
}
.collab_hai{
    color:#1f1f1f;
    font-size:1.25rem;
    line-height:1.75rem;
    font-family:"Source Sans Pro",Arial,sans-serif;
    font-weight:600;
    letter-spacing:-0.1px;
    text-align:center;
    margin-bottom:48px;
}

.collab_img{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    justify-content:space-between;
    -webkit-align-items:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    margin:0 auto;
    max-width:1132px;
    padding:0 10px;
    width:100%;
}

.partner-logo-image{
    width:100%;
}

/* ======= Free ======= */

.free_100{
    color:#382d8b;
    font-size:1.25rem;
    line-height:1.75rem;
    font-family:"Source Sans Pro",Arial,sans-serif;
    font-weight:600;
    letter-spacing:-0.1px;
    margin-bottom:16px;
}
    
.star_free{
    font-size:2.25rem;
    line-height:3rem;
}

.onl_free{
    color:#1f1f1f;
    font-size:1.25rem;
    line-height:1.75rem;
    font-family:"Source Sans Pro",Arial,sans-serif;
    font-weight:400;
    letter-spacing:-0.1px;
    margin-bottom:32px;
    padding-top: 24px;
}

/* #free .free-head{
    margin: 0 auto 72px;
    padding: 0 60px;
} */

.explore_back{
    margin-top:24px;
    text-align:center;
}
.css-2011y0{
    vertical-align:baseline;
    display:inline;
    color:#0056d2;
    padding:0;
    -webkit-text-decoration:none;
    text-decoration:none;
    font-size:1rem;
    line-height:1.5rem;
    font-family:"Source Sans Pro",Arial,sans-serif;
    font-weight:700;
    letter-spacing:-0.1px;
}

.css-15yjz2h{
    vertical-align:text-top;
    margin-left:8px;
}

.style-explore{
    padding-left: 12px;
}

.style-explore:hover{
    text-decoration: underline;
}

#free .article .article-img{
    max-width: 268px;
    max-height: 132px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#free .swiper{
    height: 450px;
    position: relative;
}

#free .swiper-cover{
    width: 270px !important;
    height: 386px !important;
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: 0 4px;
    padding: 0 12px;
    line-height: 21px;
}

#free .productCard-cardImage {
    width: 100%;
    height: 100%;
    background-color: #82a8e1;
    background-size: cover;
    background-position: 50%;
}

#free .css-9egt4w .rc-CardSection{
    padding:0.75rem 1.5rem;
    background-color:#F5F5F5;
    border-bottom:1px solid #E1E1E1;
}



#free .partnerLogoImage {
    width: 100%;
    height: 100%;
    -webkit-background-size: contain;
    background-size: contain;
    -webkit-background-position: center;
    background-position: center;
    background-repeat: no-repeat;
}

#free .productCard-PartnerLogo {
    width: 72px;
    height: 72px;
    padding: 8px;
    top: 96px;
    left: 24px;
    right: unset;
}

#free .img_logo{
    position: absolute;
    border: 1px solid #E5E7E8;
    border-radius: 3px;
    z-index: 1;
    background-color: white;
}

.css-8jdiig.rc-TagBadge span{
    font-size:12px;
    float:right;
    font-weight:600;
    font-family:"Source Sans Pro",Arial,sans-serif;
    width:-webkit-fit-content;
    width:-moz-fit-content;
    width:fit-content;
    -webkit-text-decoration:none;
    text-decoration:none;
    color:black;
    background-color:#FFE057;
    border-radius:10px;
    padding: 0px 15px;
    vertical-align:middle;
    line-height: 21px;
}

.machine_free{
    color:  #0062e4;
    color: "unset";
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-family: Source Sans Pro,Arial,sans-serif;
    font-weight: 400;
}

.content_card{
    padding: 0.75rem 1.5rem;
    position: relative;
    margin-top: 48px;
    z-index: 1;
}

.stanf_free{
    color: #666;
    letter-spacing: 0;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: Source Sans Pro,Arial,sans-serif;
    font-weight: 400;
}

#free .content_div{
    padding: 0.75rem 1.5rem;
    width: 100%;
    position: absolute;
    bottom: 4px;
}

#free .course_free{
    -webkit-box-direction:normal;
    -webkit-box-orient:horizontal;
    -webkit-box-align:center;
    -ms-flex-align:center;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    -webkit-justify-content:space-between;
    justify-content:space-between;
    -webkit-align-items:center;
    align-items:center;
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
    -webkit-flex-direction:row;
    -ms-flex-direction:row;
    flex-direction:row;
}

#free .course_free{
    color: #666;
    text-transform: uppercase;
    font-size: .875rem;
    line-height: 1.25rem;
    font-family: Source Sans Pro,Arial,sans-serif;
    font-weight: 700;
}
#free label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

/* ======= Certi ====== */
#certi .swiper{
    height: 450px;
    position: relative;
}

#certi .swiper-cover{
    width: 270px !important;
    height: 386px !important;
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: 0 4px;
}

#courses .swiper{
    height: 450px;
    position: relative;
}

#courses .swiper-cover{
    width: 270px !important;
    height: 386px !important;
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: 0 4px;
}

.course {
    padding: 0 12%;
    font-size: 14px;
    line-height: 21px;
    /* margin: 0 60px 0; */
}

.text1 {
    color: #382d8b;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-family: "Source Sans Pro",Arial,sans-serif;
    font-weight: 600;
    letter-spacing: -0.1px;
    margin-bottom: 16px;
}

.course > h2 {
    color: #1f1f1f;
    font-size: 2.75rem;
    line-height: 3.2rem;
    font-family: "Source Sans Pro",Arial,sans-serif;
    letter-spacing: -0.1px;
    font-weight: 400;
    margin-bottom: 16px;
}

.text2 {
    color: #1f1f1f;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-family: "Source Sans Pro",Arial,sans-serif;
    font-weight: 400;
    letter-spacing: -0.1px;
    margin-bottom: 32px;
}
/* outcome */


.goal-outcome-mixture {
    margin: 50px 0;
    height: 570px;
    display: flex;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #EBF3FF;
    position: relative;
    max-height: 600px;
    align-items: center;
}

#outcome .outcome-left {
    width: 600px;
}


#outcome .outcome-left .pic1 {
    width: 300px;
    position: relative;
    top: -30px;
    left: 36px;
}

#outcome .outcome-left .pic1 img {
    width: 300px;
    height: 200px;
    object-fit: contain;
}


#outcome .outcome-left .pic2 {
    width: 300px;
    position: relative;
    left: 150px;
    top: -20px;
}

#outcome .outcome-left .pic2 img {
    width: 300px;
    height: 200px;
    object-fit: contain;
}

.outcome-right {
    width: 600px;
}

.outcome-right-title {
    font-size: 44px;
    color: #1F1F1F;
    font-weight: 400;
    margin: 45px 0;
}

.outcome-right-content {
    font-size: 20px;
    margin-bottom: 32px;
}

#outcome .outcome-right-report {
    font-weight: 600;
    margin-bottom: 20px;
}

.outcome-right-btn button {
    color: #FFF;
    font-weight: 700;
    border: none;
    background-color: #0056D2;
    padding: 12px 32px;
    line-height: 1.5rem;
    border-radius: 6px;
    cursor: pointer;
}

/* goal */
#goal {
    background-color: #fff;
}

#goal .outcome-left img {
    width: 470px;
    height: 330px;
}

#goal .outcome-right {
    word-wrap: break-word;
    padding-left: 160px;
}

#goal .outcome-right-title {
    max-width: 430px;
    font-weight: 600;
}

#goal .outcome-right-content {
    max-width: 430px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5rem;
}

/* footer */
#footer {
    background-color: #f5f5f5;
    padding: 32px;
}

#footer .footer-container {
    margin: 0 210px;
    display: flex;
    gap: 60px;
    padding: 40px 0;
}

#footer .footer-container-col {
    flex: 1;
    text-align: center;
}

#footer .footer-container-col img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

#footer .footer-container-col img:hover {
    transform: scale(1.1);
}
 
#footer .footer-container-col span {
    font-family: 'Source Sans Pro', sans-serif;
    display: inline-block;
    margin-top: 20px;
    font-size: 20px;
    color: #1F1F1F;
    font-weight: 600;
}

#footer .footer-content {
    text-align: center;
    font-size: 12px;
    margin-top: 32px;
}